<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LOST & FOUND</title>
    <link rel="shortcut icon" type="image/png" href="../assets/img/lost-and-found-favicon.png">
    <!-- Latest compiled and minified CSS & JS -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/lumen/bootstrap.min.css' />
    <link rel='stylesheet' href='../assets/css/styles.css' media='screen' title='no title'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"> {{!--
    <script
        src='https://code.jquery.com/jquery.js'></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src='../assets/js/giphy.js'></script>
    <script src='assets/js/lost.js'></script>
    <script src='assets/js/lostTable.js'></script>
    <script src='assets/js/found.js'></script>
    <script src='assets/js/foundTable.js'></script>
    <script src='assets/js/browse.js'></script>
    <script src='assets/js/user.js'></script>
    <script src='assets/js/auth.js'></script>
    
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js'></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByKeaQmLeI9WrlUZqt0-cCDR6KkXpskiw&libraries=places"></script>
   
</head>

<body>
    {{{ body }}}
</body>

</html>