
<!-- ////////////////////////HEADER////////////////////////////////// -->
  <div class='card text-center text-white bg-danger'>
    <div class='card-header'>

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class='navbar-nav mr-auto nav nav-tabs collapse navbar-collapse card-header-tabs'>
                    <li class='nav-item'>
          <a class='nav-link ' href='index'>Home</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link ' href='SignIn'>Sign In</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='SignUp'>Sign Up</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link active' href='lost'>Report Lost Item</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link ' href='found'>Report Found Item</a>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='browse-items'>Browse Lost and Found Items</a>
        </li>
      </ul>
      <br>
      <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
      </form>
</nav>
    </div>
    <!-- /////////////////////////////////////////////////////////////// -->
    <div class='container'>
      <hr>
      <br>
      <!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
      <div class='container text-center'>
        <h2>ADD LOST ITEM</h2>
        <hr>
      </div>

      
        <!-- ////////////////////////////First and last name and Email Address///////////////////////////////////////// -->
        <form id="userNames">  
        <div class='input-group'>
          <div class='input-group-prepend'>
            <span class='input-group-text' id=''>First Name</span>
          </div>
          <input type='text' id='firstName' class='form-control'>
          <br><br>
          <div class='input-group-prepend'>
            <span class='input-group-text' id=''>Last Name</span>
          </div>
          <input type='text' id='lastName' class='form-control'>
          <br><br>
        </div>
        <br>
        <div class='input-group'>
          <span for='exampleFormControlInput1' class='input-group-text' id=''>Email address</span>
          <input type='email' class='form-control' id='exampleFormControlInput1' placeholder='name@example.com'>

          <span for='exampleFormControlInput2' class='input-group-text' id=''>Phone Number</span>
          <input type='tel' class='form-control' id='exampleFormControlInput2' placeholder='647-555-6677'>

        </div>
        <hr>
        <div class='container'>
          <button id="enterLostItems" type='button' class='btn btn-primary btn-lg btn-block'>Enter to Add Lost Item</button>
        </div>
        </form>
<br>
        <!-- ///////////////////////////////Item Category///////////////////////////////////////////// -->
        <form id="itemsEntry">
        <div class='input-group mb-3'>
          <div class='input-group-prepend'>
            <label class='input-group-text' for='inputGroupSelect01'>Item Category</label>
          </div>
          <select class='custom-select' id='category' size='1' onchange='makeSubmenu(this.value)'>
            <option value='' >Choose Category</option>
            <option>Electronics</option>
            <option>Wallet</option>
            <option>Clothing</option>
            <option>Accessories</option>
            <option>Documents</option>
            <option>Other</option>
          </select>

          <select class='custom-select' id='categorySelect' size='1'>
            <option value='' >Choose Subcategory</option>
            <option value='' disabled selected >Choose Subcategory</option>
            <option></option>
          </select>
        </div>
        <!-- ///////////////////////////////Size///////////////////////////////////////////// -->
        <div class='input-group mb-3'>
          <div class='input-group-prepend'>
            <label class='input-group-text' for='inputGroupSelect01'>Size</label>
          </div>
          <select class='custom-select' id='inputGroupSelect01'>
            <option selected>Choose...</option>
            <option value='1'>Small (30cm and under)</option>
            <option value='2'>Medium (Larger than 30cm)</option>
            <option value='3'>Large (Larger than 60cm)</option>
          </select>
        </div>
        <!-- ///////////////////////////////Color///////////////////////////////////////////// -->
        <div class='input-group mb-3'>
          <div class='input-group-prepend'>
            <label class='input-group-text' for='inputGroupSelect01'>Color</label>
          </div>
          <select class='custom-select' id='inputGroupSelect01'>
            <option selected>Choose...</option>
            <option value='1'>Red</option>
            <option value='2'>Blue</option>
            <option value='3'>Green</option>
            <option value='1'>Yellow</option>
            <option value='2'>Orange</option>
            <option value='3'>Purple</option>
            <option value='1'>White</option>
            <option value='2'>Black</option>
            <option value='3'>Grey</option>
            <option value='2'>Pink</option>
            <option value='3'>Brown</option>
            <option value='1'>Mix of many colors</option>
          </select>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////// -->
        <div class='input-group mb-3'>
          <div class='input-group-prepend'>
            <span class='input-group-text'>Lost Item Photo</span>
          </div>
          <div class='custom-file'>
            <input type='file' class='custom-file-input' id='inputGroupFile01'>
            <label class='custom-file-label' for='inputGroupFile01'>Choose file</label>
          </div>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////// -->
        <div class='form-group'>
          <label for='exampleFormControlTextarea1'>Lost Location</label>
          <textarea class='form-control' id='exampleFormControlTextarea1' rows='1' placeholder='ZIP code or Address'></textarea>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////// -->
        <div class='form-group'>
          <label for='exampleFormControlTextarea1'>Item Description</label>
          <textarea class='form-control' id='exampleFormControlTextarea1' rows='1' placeholder='Wallet including IDs, Debit and Credit Cards'></textarea>
        </div>
        <!-- //////////////////////////////////////////////////////////////////////////////////////////// -->
    </div>
    <div class='container'>
      <button id="submitItems" type='button' class='btn btn-primary btn-lg btn-block'>SUBMIT</button>
    </div>
    </form>
    <br>
  </div>
  <!-- ///////////////////////////////FOOTER///////////////////////////////////////////////// -->
  <footer class='page-footer font-small blue pt-4' style='text-align: center'>

    <div class='container-fluid text-center'>
      <ul class='list-inline'>
        <li class='list-inline-item'><a href='index'>Home</a></li>
        <li class='list-inline-item'><a href='lost'>Lost Report</a></li>
        <li class='list-inline-item'><a href='found'>Found Report</a></li>
      </ul>
    </div>

    <div class='footer-copyright text-center py-3'>© 2018 Copyright:
      <a href='#'>Lost and Found</a>
    </div>
  </footer>
  <script>
   $("#userNames").show();
    $("#itemsEntry").hide();
    $("#submitItems").hide();

$("#enterLostItems").click(function(){
    event.preventDefault();
    $("#itemsEntry").show();
    $("#submitItems").show();
    
});

var subcategory = {
    Electronics: ['Mobile(apple)','Mobile(android)','laptop','tablet','earbuds/ headphones','computer accessories'],
    Wallet: ['Wallet only','Wallet with IDs','IDs only'],
    Clothing:['Shirt','Jacket','Pants','Skirt'],
    Accessories:['Shoes','Hat','Scarf','Mittens/ Gloves','Jewellery/ Watches','Bag/ Purse/ Case'],
    Documents:['Book','Notes'],
    Other:["Must be clarified in item description section"]
    };

    function makeSubmenu(value) {
    if(value.length==0) document.getElementById('categorySelect').innerHTML = '<option></option>';
    else {
    var categoryOptions = '';
    for(categoryId in subcategory[value]) {
        categoryOptions+='<option>'+subcategory[value][categoryId]+'</option>';
    }
    document.getElementById('categorySelect').innerHTML = categoryOptions;
    }
    }
     // function displaySelected() {
        
    // var category = document.getElementById('category').value;
    // var item = document.getElementById('subCategory').value;
    // alert(category+'\n'+item);
    // }
    function resetSelection() {
    document.getElementById('category').selectedIndex = 0;
    document.getElementById('categorySelect').selectedIndex = 0;
    }
  </script>
  <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->