
  <br>

  <div class="container">

    <div class="jumbotron">
      <h1><i class="fa fa-clone" aria-hidden="true"></i> Lost and Found App</h1>
      <hr>
      <h2>Error 404 - The page is not found!!! </h2>

      <br>

      <div class="text-center">
        <a href="/index"><button class="btn btn-lg btn-default"><span class="fa fa-home"></span></button></a>
      </div>

    </div>

   

  </div>

<!-- //////////////////////////////////////////////////////////////////////////////// -->



  <!-- ///////////////////////////////FOOTER///////////////////////////////////////////////// -->
    <footer class='page-footer font-small blue pt-4' style='text-align: center'>

        <div class='container-fluid text-center'>
            <ul class='list-inline'>
                <li class='list-inline-item'><a href='index'>Home</a></li>
                          </ul>
        </div>

        <div class='footer-copyright text-center py-3'>© 2018 Copyright: Lost and Found
            
        </div>
    </footer>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////// -->

 